selectpayment {
.right-input{

    font-size: 14px;color: #333333;margin: 0 !important;text-align: right;padding-right: 3%; width: 50%
}
.left-input{
    font-size: 14px;color: #000000;margin: 0 !important; width: 30%
}
}
